<div class="widget-wrap animate__animated animate__fadeInUp">
    <div class="widget">
      <div style="text-align:center;padding:20px 0 10px 0">
		 <div class="cui-inline" style="width:32%">
			<p class="cui-typo-h3"><%= site.posts.length %></p>
			<p style="font-size:14px;font-weight:bold;margin-top:13px" class="cui-color-text-theme">Posts</p>
		 </div>
		 <div class="cui-inline"style="width:32%">
		 	<p class="cui-typo-h3"><%= site.categories.length %></p>
		 	<p style="font-size:14px;font-weight:bold;margin-top:13px" class="cui-color-text-theme">Categories</p>
		 </div>
		 <div class="cui-inline"style="width:32%">
		 	<p class="cui-typo-h3"><%= site.tags.length %></p>
		 	<p style="font-size:14px;font-weight:bold;margin-top:13px" class="cui-color-text-theme">Tags</p>
		 </div>
	  </div>
    </div>
  </div>