<div class="widget-wrap animate__animated animate__fadeInUp">
    <div class="widget">
      <div class="blogger">
		  <img class="blogger-avatar" src="<%= theme.avatar %>" />
		  <div class="cui-typo-title"><%= config.title %></div>
		  <div class="blogger-motto"><%= theme.introduce %></div>
		  <a href="<%= theme.followurl %>" target="_blank" class="cui-btn cui-color-o-apple cui-btn-oval blogger-btn">Follow Me</a>
	  </div>
    </div>
  </div>