<div class="widget-wrap animate__animated animate__fadeInUp">
    <div class="widget">
      <ul style="padding:0;margin:0;">
		  <% for (var i in theme.menu){ %>
		    <li style="text-align:right;font-size:16px;height:30px;display:block;margin-right:10px;margin-top:4px">
				<a class="dol-text-color" style="width:100%;display:block;text-decoration:none;" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
			</li>
		  <% } %>
	  </ul>

          <% if ( theme.search ) { %>
		    <a cui-dialog="open1-1" style="float:right;display:block;" class="cui-btn cui-color-theme cui-shadow-heavy-theme cui-btn-oval"><i class="mdui-icon material-icons">&#xe8b6;</i> </a>
		  <% } %>
    </div>
  </div>

<% if ( theme.search ) { %>
<div class="cui-dialog" id="dialog1-1">
  <div class="cui-dialog-wrapper cui-typo cui-dialog-wrapper-hight-400">
    <div id="site_search">
      <div class="cui-input cui-input-border-bottom cui-input-color-normal">
	     <input type="text" id="local-search-input" class="search-input" results="0"/>
	  </div>
      <div id="local-search-result"></div>
    </div>
  </div>
  <div class="cui-dialog-overlay cui-blur cui-cover-dark" cui-dialog="open1-1"></div>
</div>
<% } %>