<% if (site.tags.length){ %>
  <div class="widget-wrap animate__animated animate__fadeInUp">
    <h3 class="widget-title"><%= __('tagcloud') %></h3>
    <div class="widget tagcloud">
      <%- tagcloud() %>
    </div>
  </div>
<% } %>