@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0
@font-face
	font-family: googlesans
	font-style: normal
	src: url(https://cdn.jsdelivr.net/gh/bochili/fontscdn/GoogleSans-Regular.ttf)
@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

.mdui-icon,
.mdui-icon::before {
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	color: inherit;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	vertical-align: middle;
	direction: ltr
}

.mdui-icon {
	display: inline-block;
	text-align: center
}

.mdui-icon::before {
	display: block !important;
	width: 24px;
	height: 24px
}

.footer
  text-align center
  padding 50px
.cui-color-theme-dark .footer
  color #FFF
  transition .3s all

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(//cdnjs.loli.net/ajax/libs/mdui/0.4.3/icons/material-icons/MaterialIcons-Regular.woff2) format('woff2'), url(//cdnjs.loli.net/ajax/libs/mdui/0.4.3/icons/material-icons/MaterialIcons-Regular.woff) format('woff')
}

.material-icons {
	font-family: 'Material Icons';
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga';
	font-feature-settings: 'liga'
}

html, body, #container
  height: 100%

body
  font: font-size font-sans
  -webkit-text-size-adjust: 100%
  font-family googlesans,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
.o-apple
  color #FFFFFF
  background #0a73ff
.outer
  clearfix()
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding: 0 gutter-width

.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.mobile-nav-on
  overflow: hidden

.v[data-class=v] .vwrap {
    border: none;
    border-radius: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 3px 92px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 3px 92px 0px rgba(0,0,0,0.07);
    border-radius: 35px;
}

.cui-color-theme-y-purple .cui-typo a.article-tag-list-link,.cui-color-theme-y-purple .cui-typo a.tag-list-link {
	color: #620ffb;
}

.cui-color-theme-y-purple .cui-typo a.article-tag-list-link:after,.cui-color-theme-y-purple .cui-typo a.tag-list-link:after {
	background: #620ffb;
}

.cui-color-theme-y-blue .cui-typo a.article-tag-list-link,.cui-color-theme-y-blue .cui-typo a.tag-list-link {
	color: #2753f2;
}

.cui-color-theme-y-blue .cui-typo a.article-tag-list-link:after,.cui-color-theme-y-blue .cui-typo a.tag-list-link:after {
	background: #2753f2;
}

.cui-color-theme-y-cyan .cui-typo a.article-tag-list-link,.cui-color-theme-y-cyan .cui-typo a.tag-list-link {
	color: #51f8c9;
}

.cui-color-theme-y-cyan .cui-typo a.article-tag-list-link:after,.cui-color-theme-y-cyan .cui-typo a.tag-list-link:after {
	background: #51f8c9;
}

.cui-color-theme-y-red .cui-typo a.article-tag-list-link,.cui-color-theme-y-red .cui-typo a.tag-list-link {
	color: #e60847;
}

.cui-color-theme-y-red .cui-typo a.article-tag-list-link:after,.cui-color-theme-y-red .cui-typo a.tag-list-link:after {
	background: #e60847;
}

.cui-color-theme-y-yellow .cui-typo a.article-tag-list-link,.cui-color-theme-y-yellow .cui-typo a.tag-list-link {
	color: #eac500;
}

.cui-color-theme-y-yellow .cui-typo a.article-tag-list-link:after,.cui-color-theme-y-yellow .cui-typo a.tag-list-link:after {
	background: #eac500;
}

.cui-color-theme-y-green .cui-typo a.article-tag-list-link,.cui-color-theme-y-green .cui-typo a.tag-list-link {
	color: #6cfda4;
}

.cui-color-theme-y-green .cui-typo a.article-tag-list-link:after,.cui-color-theme-y-green .cui-typo a.tag-list-link:after {
	background: #6cfda4;
}

.cui-color-theme-y-pink .cui-typo a.article-tag-list-link,.cui-color-theme-y-pink .cui-typo a.tag-list-link {
	color: #f9377e;
}

.cui-color-theme-y-pink .cui-typo a.article-tag-list-link:after,.cui-color-theme-y-pink .cui-typo a.tag-list-link:after {
	background: #f9377e;
}

.cui-color-theme-y-black .cui-typo a.article-tag-list-link,.cui-color-theme-y-black .cui-typo a.tag-list-link {
	color: #2e2b42;
}

.cui-color-theme-y-black .cui-typo a.article-tag-list-link:after,.cui-color-theme-y-black .cui-typo a.tag-list-link:after {
	background: #2e2b42;
}


.cui-color-theme-s-purple .cui-typo a.article-tag-list-link,.cui-color-theme-s-purple .cui-typo a.tag-list-link {
	color: #6718dd;
}

.cui-color-theme-s-purple .cui-typo a.article-tag-list-link:after,.cui-color-theme-s-purple .cui-typo a.tag-list-link:after {
	background: #6718dd;
}

.cui-color-theme-s-blue .cui-typo a.article-tag-list-link,.cui-color-theme-s-blue .cui-typo a.tag-list-link {
	color: #3651ea;
}

.cui-color-theme-s-blue .cui-typo a.article-tag-list-link:after,.cui-color-theme-s-blue .cui-typo a.tag-list-link:after {
	background: #3651ea;
}

.cui-color-theme-s-cyan .cui-typo a.article-tag-list-link,.cui-color-theme-s-cyan .cui-typo a.tag-list-link {
	color: #39facd;
}

.cui-color-theme-s-cyan .cui-typo a.article-tag-list-link:after,.cui-color-theme-s-cyan .cui-typo a.tag-list-link:after {
	background: #39facd;
}

.cui-color-theme-s-red .cui-typo a.article-tag-list-link,.cui-color-theme-s-red .cui-typo a.tag-list-link {
	color: #f4474c;
}

.cui-color-theme-s-red .cui-typo a.article-tag-list-link:after,.cui-color-theme-s-red .cui-typo a.tag-list-link:after {
	background: #f4474c;
}

.cui-color-theme-s-yellow .cui-typo a.article-tag-list-link,.cui-color-theme-s-yellow .cui-typo a.tag-list-link {
	color: #f4f673;
}

.cui-color-theme-s-yellow .cui-typo a.article-tag-list-link:after,.cui-color-theme-s-yellow .cui-typo a.tag-list-link:after {
	background: #f4f673;
}

.cui-color-theme-s-green .cui-typo a.article-tag-list-link,.cui-color-theme-s-green .cui-typo a.tag-list-link {
	color: #3ef499;
}

.cui-color-theme-s-green .cui-typo a.article-tag-list-link:after,.cui-color-theme-s-green .cui-typo a.tag-list-link:after {
	background: #3ef499;
}

.cui-color-theme-s-pink .cui-typo a.article-tag-list-link,.cui-color-theme-s-pink .cui-typo a.tag-list-link {
	color: #ff5c76;
}

.cui-color-theme-s-pink .cui-typo a.article-tag-list-link:after,.cui-color-theme-s-pink .cui-typo a.tag-list-link:after {
	background: #ff5c76;
}

.cui-color-theme-s-black .cui-typo a.article-tag-list-link,.cui-color-theme-s-black .cui-typo a.tag-list-link {
	color: #2e2f3c;
}

.cui-color-theme-s-black .cui-typo a.article-tag-list-link:after,.cui-color-theme-s-black .cui-typo a.tag-list-link:after {
	background: #2e2f3c;
}


.cui-color-theme-l-purple .cui-typo a.article-tag-list-link,.cui-color-theme-l-purple .cui-typo a.tag-list-link {
	color: #5431d3;
}

.cui-color-theme-l-purple .cui-typo a.article-tag-list-link:after,.cui-color-theme-l-purple .cui-typo a.tag-list-link:after {
	background: #5431d3;
}

.cui-color-theme-l-blue .cui-typo a.article-tag-list-link,.cui-color-theme-l-blue .cui-typo a.tag-list-link {
	color: #3651ea;
}

.cui-color-theme-l-blue .cui-typo a.article-tag-list-link:after,.cui-color-theme-l-blue .cui-typo a.tag-list-link:after {
	background: #3651ea;
}

.cui-color-theme-l-cyan .cui-typo a.article-tag-list-link,.cui-color-theme-l-cyan .cui-typo a.tag-list-link {
	color: #15d2a3;
}

.cui-color-theme-l-cyan .cui-typo a.article-tag-list-link:after,.cui-color-theme-l-cyan .cui-typo a.tag-list-link:after {
	background: #15d2a3;
}

.cui-color-theme-l-red .cui-typo a.article-tag-list-link,.cui-color-theme-l-red .cui-typo a.tag-list-link {
	color: #dd3330;
}

.cui-color-theme-l-red .cui-typo a.article-tag-list-link:after,.cui-color-theme-l-red .cui-typo a.tag-list-link:after {
	background: #dd3330;
}

.cui-color-theme-l-yellow .cui-typo a.article-tag-list-link,.cui-color-theme-l-yellow .cui-typo a.tag-list-link {
	color: #af925f;
}

.cui-color-theme-l-yellow .cui-typo a.article-tag-list-link:after,.cui-color-theme-l-yellow .cui-typo a.tag-list-link:after {
	background: #af925f;
}

.cui-color-theme-l-green .cui-typo a.article-tag-list-link,.cui-color-theme-l-green .cui-typo a.tag-list-link {
	color: #30cf9d;
}

.cui-color-theme-l-green .cui-typo a.article-tag-list-link:after,.cui-color-theme-l-green .cui-typo a.tag-list-link:after {
	background: #30cf9d;
}

.cui-color-theme-l-pink .cui-typo a.article-tag-list-link,.cui-color-theme-l-pink .cui-typo a.tag-list-link {
	color: #bb7979;
}

.cui-color-theme-l-pink .cui-typo a.article-tag-list-link:after,.cui-color-theme-l-pink .cui-typo a.tag-list-link:after {
	background: #bb7979;
}

.cui-color-theme-l-grey .cui-typo a.article-tag-list-link,.cui-color-theme-l-grey .cui-typo a.tag-list-link {
	color: #8195b2;
}

.cui-color-theme-l-grey .cui-typo a.article-tag-list-link:after,.cui-color-theme-l-grey .cui-typo a.tag-list-link:after {
	background: #8195b2;
}
.cui-color-theme-o-apple .cui-typo a.article-tag-list-link,.cui-color-theme-o-apple .cui-typo a.tag-list-link {
	color: #0a73ff;
}

.cui-color-theme-o-apple .cui-typo a.article-tag-list-link:after,.cui-color-theme-o-apple .cui-typo a.tag-list-link:after {
	background: #0a73ff;
}
.cui-color-theme-dark .cui-typo a.article-tag-list-link,.cui-color-theme-dark .cui-typo a.tag-list-link {
  color: #0a73ff;
  transition .3s all
}

.cui-color-theme-dark .cui-typo a.article-tag-list-link:after,.cui-color-theme-dark .cui-typo a.tag-list-link:after {
	background: #0a73ff;
    transition .3s all
}
.mt6
  margin-top 6rem

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1
  .mobile-nav-on &
    left: mobile-nav-width

if sidebar and sidebar isnt bottom
  #main
    @media mq-normal
      column(main-column)

if sidebar is left
  @media mq-normal
    #main
      float: right

@import "_extend"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/mobile"

if sidebar
  @import "_partial/sidebar"