<% if (theme.loader == 'rainbow'){ %>
  <%- partial('_loader/rainbow') %>
<% } %>
<% if (theme.loader == 'win10'){ %>
  <%- partial('_loader/win10') %>
<% } %>
<% if (theme.loader == 'blur'){ %>
  <div id="bonfire-pageloader" class="cui-cover-light"></div>
<% } %>
<% if (theme.loader == 'loadbartop'){ %>
  <%- partial('_loader/loadbartop') %>
<% } %>