.archives-wrap
  margin: block-margin 0

.archives
  clearfix()

.archive-year-wrap
  margin-bottom: 1em

.archive-year
  @extend $block-caption
  text-shadow none

.archives
  column-gap: 10px
  @media mq-tablet
    column-count: 2
  @media mq-normal
    column-count: 3

.archive-article
  avoid-column-break()

.archive-article-inner
  padding: 10px
  margin-bottom: 15px

.archive-article-title
  text-decoration: none
  font-weight: bold
  color: color-default
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link

.cui-color-theme-dark .archive-article-title
  color #FFFFFF
  &:hover
    color: color-link
.archive-article-footer
  margin-top: 1em

.archive-article-date
  color: color-grey
  text-decoration: none
  font-size: 0.85em
  line-height: 1em
  margin-bottom: 0.5em
  display: block

#page-nav
  clearfix()
  margin: block-margin auto
  border-radius: 1000px
  text-align: center
  color: color-grey
  a, span
    padding: 10px 20px
    line-height: 1
    height: 2ex
  a
    color: color-grey
    text-decoration: none
    transition .3s all	
    &:hover
      border-radius: 1000px;
      box-shadow: 18px 18px 30px #d1d9e6, -18px -18px 30px #fff;
      transition .5s box-shadow
    .cui-color-theme-dark &:hover
      background: #2d3035
      -webkit-box-shadow: 3px 5px 20px #212121, -8px -5px 30px #272a2b
      box-shadow: 3px 5px 20px #212121, -8px -5px 30px #272a2b
      transition .3s all
  .prev
    border-radius: 1000px;
  .next
    border-radius: 1000px;
  .current
    box-shadow: 18px 18px 30px #d1d9e6, -18px -18px 30px #fff;
    box-shadow: 18px 18px 30px #d1d9e6, -18px -18px 30px #fff;
    border-radius: 1000px
    font-weight: bold

  .space
    color: color-border
  .page-number
    margin-left:4px
    margin-top 6px
    border-radius: 1000px;

.cui-color-theme-dark .current
  -webkit-box-shadow: 3px 5px 20px #212121, -8px -5px 30px #272a2b!important
  box-shadow: 3px 5px 20px #212121, -8px -5px 30px #272a2b!important
  border-radius: 1000px
  background: #2d3035
  font-weight: bold
  transition .3s all
