#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  border-radius: 35px
  box-shadow: 0px 3px 92px 0px rgba(0, 0, 0, 0.07)
  margin-top block-margin !important

.widget-title
  padding 20px 20px 10px 20px
  font-size 18px

.widget
  background: color-background
  padding: 15px
  border-radius: 35px
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px