#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  background #FFF
  border-radius: 35px
  box-shadow: 0px 3px 92px 0px rgba(0, 0, 0, 0.07)
  margin-top block-margin !important
.cui-color-theme-dark .widget-wrap
  background #2D3034
.widget-title
  padding 20px 20px 10px 20px
  font-size 18px

.widget
  padding: 20px
  border-radius: 35px
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px